* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c11616;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.part1{
padding: 100px;
display: flex;
align-items: center;
}

.part2{
    display: flex;
    padding: 0px 100px 0px 0px;
    align-items: center;
}

.vector-icon {
    width: 180px;
    height: auto;
}

.rectangle-div {
    width: 30px;
    height: 1px;
    background-color: #fff;
    transform: rotate(90deg);
    padding: 0px 0px 0px 60px;

}

.rectanglelao-div {
    width: 250px;
    height: 1px;
    background-color: #fff;
}

.rectanglelinho-div {
    width: 20px;
    height: 1px;
    background-color: #fff;
    transform: rotate(90deg);
}

.autor, .opc, .opc2 {
    color: #fff;
    font-size: 16px;
}

.pes-icon {
    height: 20px;
    width: 20px;
    align-items: center;
    padding-right: 90px;
    padding-left: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
        align-items: center;
        text-align: center;
    }

    .vector-icon {
        margin: 10px 0;
        width: 150px;
    }

    .autor, .opc, .opc2 {
        font-size: 14px;
        margin-top: 10px;
    }

    .rectangle-div, .rectanglelao-div, .rectanglelinho-div {
        display: none; 
    }
}

@media (max-width: 480px) {
    .vector-icon {
        width: 120px;
    }

    .autor, .opc, .opc2 {
        font-size: 12px;
    }
}